.git/
.github/
.vscode/
node_modules/**
src/**
out/**
scripts/**
tests/**
*.vsix
tsconfig.json
tsconfig.tsbuildinfo
coverage/**
tmp/**
**/*.map
**/*.ts
**/*.test.*
.eslintrc.*
.prettierrc*
.editorconfig
